html, body {

}

#action_bar {
	height: 40px;
	width: 100%;
	
	position: absolute;
}

#action_bar_title {
	float:left;
	padding: 10px;
	font-weight:800;

}


#action_bar_logo {
	float:left;
	padding: 10px;
	font-weight:800;
}


#contact_list {

	float: left;
	margin-top: 40px;
	height: calc(100% - 40px);
	width: 0	%;
}

#conversation {

	float: right;
	margin-top: 40px;
	height: calc(100% - 40px);
	width: 100%;
}