html, body {
	
	
}

#action_bar {
	height: 40px;
	width: 100%;
	
}

#action_bar_title {
    float: left;
	padding: 10px;
	font-weight:800;

}


#action_bar_logo {
    float: left;
	padding: 0px 5px;
	font-weight:800;
}



#conversation {
	
}

form {

}

img {
	margin: 5px;
}

