html, body {
	position: relative;
	height: 100%;
	margin: 0;	
	
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #F0F0F0;
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #F0F0F0;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    background-color:#666;

} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
    background-color: #F0F0F0;
    height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
    background-color: #F0F0F0;

}


#action_bar {
	background-color: #111111;
	color: #FFFFFF;
    min-width: 1000px;
}

#action_bar_center {
    min-width: 1000px;
    height: 40px;
    margin: auto;
}

#main {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 1000px;

}

#contacts {

    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 25%;
    min-width: 250px;

}

#contact_list {
    background-color: #222;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow:auto;
}

#contact_list_head {
    background-color: orange;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    text-align: center;
    color: #FFF;
    font-size: 16px;
    padding:5px;
}

.contact {
    height: 40px;
    width:100%;
    border-bottom: 1px solid #111111;

}

.contact_icon {
    height:20px;
    margin-bottom: 0;
}

.contact_name {
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
}

.contact_number {
    color: white;
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
}

#conversation {
    background-color: black;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0px;
    width: 73%;
    min-width: 750px;
    opacity: 0.5;
}

.input_text {
	font-size:15px;
	border: 0; 
	border-bottom:1px solid orange;
	width:200px;

}

.input_text:focus {
	border: 0; 
	border-bottom:1px solid orange;
	outline:none;
}

.button {
	 float:right;
     margin: 7px 5px;
	 padding: 2px 13px;
	 background: orange; 
	 color: #FFF; 
	 border-radius: 3px; 
	 border-style:none;
     cursor:pointer;
    font-size: 14px;

}

.button:hover {

    background: #FFB914;
    color: #FFF;
    border-radius: 3px;
    border-style:none;
    cursor:pointer;
}

.info_message_warning {
	background-color:#FF0000;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	color: #eee;
    text-align: center;
}

.info_message_success {
	background-color:#009933;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	color: #eee;
    text-align: center;
}