html, body {
	position: relative;
	height: 100%;
	margin: 0;	
	
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #F0F0F0;
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center;
}

#action_bar {
	background-color: #111111;	
	color: #FFFFFF;
}

#action_bar_center {
    max-width: 1200px;
    height: 40px;
    margin: auto;
}

#contact_list {

	
}

#conversation {

}

.input_text {
	font-size:15px;
	border: 0; 
	border-bottom:1px solid orange;
	width:200px;

}

.input_text:focus {
	border: 0; 
	border-bottom:1px solid orange;
	outline:none;
}

.button {
	 float:right;
     margin: 7px 5px;
	 padding: 2px 13px;
	 background: orange; 
	 color: #FFF; 
	 border-radius: 3px; 
	 border-style:none;
     cursor:pointer;
    font-size: 14px;

}

.button:hover {

    background: #FFB914;
    color: #FFF;
    border-radius: 3px;
    border-style:none;
    cursor:pointer;
}

.info_message_warning {
	background-color:#FF0000;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	color: #eee;
    text-align: center;
}

.info_message_success {
	background-color:#009933;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	color: #eee;
    text-align: center;
}